*{
    padding: 0;
    margin: 0;
    font-family: "Oswald", serif;
    font-weight: 400;
}
.peoplesection{
    width: 100%;
    height: 100vh;
}

.peopdiv{
    display: flex;

}
.peopletag{
    width: 12%;
    height: 75vh;
    background: #FF5000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.peopletag h1{
    padding: 42px 0px 39px 70px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: "Oswald", serif;
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;

}


.pcnt{
    width: 88%;

}
.people-cont h2{
    width: 11% ;
    padding:45px 0px 0px 98px ;
    font-weight: 400;
    font-size: 20px;
    font-family: "Lora", serif;
}
.peoplecard{
    padding-left:119px;
    display: flex;
}
.pcard{
    width: 26%;
    margin-right: 50px;
    
}
.pcard img{
    width: 180px;
    height: 200px;
}

.image-overlay{
    position: relative;
    display: inline-block;
}
.pcard:hover .layer {
    opacity:0;
}

.pcard:hover img{
filter: grayscale(100%);
}
.pcard h1{
    padding-top:10px ;
    color: #ff5000;
    font-weight: 700;
    font-size: 25.25px;
    text-transform: uppercase;
}
.pcard h2{
    text-transform: uppercase;
    font-size: 15.5px;
    font-family: "Lora", serif;
}
.layer{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ff5000;
        opacity: 0.5;
        transition: opacity 0.3s;
}
.pcard:nth-child(odd) {
    margin-top: 11%;
}
.pcard:nth-child(even) {
    margin-bottom: 13%;
}
.pcnt {
    overflow: hidden;
    position: relative;
    /* width: 100%; */
    /* max-width: 100%; */
}

.peoplecard {
    display: flex;
    /* overflow: hidden; */
    /* width: 100%; */
}

.scroll-b{
    margin-top: 5%;
    position: relative;
}
.scroll-bar-track {
   
    width: 100%; /* Full width */
    height: 2px; /* Thin line to represent the track */
    background-color: #ddd; /* Track color */
    margin-top: 10px; /* Spacing above */
}

.scroll-indicator {
    position: absolute;
    top: -8px; /* Move the indicator slightly above the track */
    width: 10%; /* Width of the indicator (10% of track width) */
    height: 20px; /* Height of the indicator */
    font-size: 20px; /* Font size of the text */
    color: #FF5000; /* Text color */
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFFFFF; /* Background color of the indicator */
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    border-radius: 5px; /* Optional rounding of the indicator */
    white-space: nowrap;
    transition: transform 0.6s ease; /* Smooth transition for horizontal movement */
}

.sec1{
    height:100vh;
    background: #000;
}

#scroll-indicator {
    cursor: pointer;
}